@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show m-0" role="alert">
        Denne nettsiden bruker funksjonelle cookies (informasjonskapsler) til å forbedre din brukeropplevelse. <a asp-controller="Home" asp-area="" asp-action="Privacy">Les mer</a>.
        <button type="button" class="accept-policy btn-close" data-bs-dismiss="alert" data-cookie-string="@cookieString">
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}