@{ 
    Layout = "/Views/Shared/_Container.cshtml";
    ViewData["IsCustomCountdown"] = "true";
}

<h1>Administrer din bruker</h1>

<div>
    <h4>Endre brukerinstillinger</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
