@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Dette vil permanent fjerne din bruker og all data. Dette kan ikke bli gjenopprettet.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">Passord</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit mt-3">Slett min data og bruker</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}