@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Brukerdata";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Vi lagrer brukerdata som du har gitt oss. Her kan du laste den ned.</p>
        <p>
            <strong>Å slette brukeren din vil permanent fjerne din bruker og all data. Dette kan ikke bli gjenopprettet.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary mt-3" type="submit">Last ned</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary  mt-3">Slett bruker</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}