
@{
    Layout = "_Container";
    ViewData["Title"] = "Hvordan få med en skole på FerieCountdown";
}

<h1>Hvordan få med en skole på FerieCountdown</h1>

<p>
    For å få med en skole på nettsiden må du sende inn et <a asp-controller="Home" asp-action="Contact">kontaktskjema</a> og inkludere følgende informasjon:
    tidspunkt for skoleslutt mandag, tirsdag, onsdag, torsdag og fredag, tidspunkt for høstferie, juleferie, vinterferie, påskeferie og sommerferie.
    Disse skal oppgis i UTC (Coordinated Universal Time). Du må også ha med skolenavn og kommune (for grunnskoler), fylkeskommuner (for videregående skoler) eller firmanavn (for privatskoler).
</p>

