@{
    ViewData["Title"] = "Hjem";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til FerieCountdown beta!</h1>
    <p>Prøv deg litt rundt. Finner du noe som er galt eller har en id&eacute; til noe som kan bli bedre, send gjerne en mail!<br />
        Bruk mailadressen: <a href="mailto:beta-feedback@feriecountdown.com">beta-feedback@feriecountdown.com</a>
    </p>
</div>
