@using Microsoft.AspNetCore.Identity
@using FerieCountdown.Classes.Io
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Hjem";
    ViewData["MetaDescription"] = "FerieCountdown er nettsiden der du kan telle ned til skoleferier, slutten på skoledager, helg, bursdager, nyttår og mye mer med dager, timer, minutter og sekunder!";
}

<div class="text-center">
    <h1 class="display-4 welcome-heading">Velkommen til nye FerieCountdown!</h1>
    <div class="row p-2 mx-2">
        <div class="col col-sm-12 col-md-6 p-2">
            <div class="card p-2 h-100 mainpagecard">
                <h2>Hva er nytt</h2>
                <p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="text-left">Innlogging</th>
                                <td class="text-left">Du kan nå <a asp-area="Identity" asp-page="/Account/Login">lage din egen</a> FerieCountdown-Bruker</td>
                            </tr>
                            <tr>
                                <th class="text-left">Egne nedtellinger</th>
                                <td class="text-left">Du kan nå <a asp-area="" asp-controller="Config" asp-action="Custom">lage helt egne</a> nedtellinger til hva som helst</td>
                            </tr>
                            <tr>
                                <th class="text-left">Støtte for andre skoler og jobb</th>
                                <td class="text-left">
                                    Du kan nå <a asp-area="" asp-controller="Countdown" asp-action="SetLocale">velge din skole eller sette arbeidstider</a>. <br />
                                    <a asp-area="" asp-controller="Home" asp-action="HowToIncludeSchool">Hvordan få med din skole.</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            Dictionary<string, string> ccdData = DbMaster.GetDictionaryFromSql($"SELECT TOP (10) [Id], [CountdownText] FROM [dbo].[CustomCountdowns] WHERE [Owner] = N'{User.FindFirstValue(ClaimTypes.NameIdentifier)}' ORDER BY [CountdownTime] DESC;");
            @if (ccdData.Count > 0)
            {
                <div class="col col-sm-12 col-md-6 p-2">
                    <div class="card p-2 h-100 mainpagecard">
                        <h2>Neste egendefinerte nedtellinger</h2>
                        @foreach (KeyValuePair<string, string> data in ccdData)
                        {
                            <a class="text-left" href="/Countdown/Custom/@data.Key">@data.Value</a>
                        }
                    </div>
                </div>
            }
        }

    </div>
</div>

