@{
    Layout = "_Container";
    ViewData["Title"] = "Personvernserklæring";
}
<h1>@ViewData["Title"]</h1>

<p>FerieCountdown samler inn data for å forbedre din brukeropplevelse.</p>

<!--Data we collect section-->
<h2 id="data">Data vi samler inn</h2>
<div>
    Når du bruker FerieCountdowns tjenester samles data inn, både automatisk og data du gir oss.
    <br />

    <h3>Informasjon du gir oss</h3>

    <h4>Kontaktopplysninger (e-postadresse)</h4>
    <p>
        Når du lager en bruker på FerieCountdown, må du oppgi en e-postadresse. Dette brukes for å identifisere din bruker, samt kontakte deg med viktige opplysninger.
    </p>

    <h4>Sted/skole</h4>
    <p>
        For å kunne se nedtellinger til skoleferier og skoledager må du fortelle oss hvilken skole du går på. Dette er lagret i en cookie (informasjonskapsel) i nettleseren din. Det assosieres aldri med en bruker.
    </p>
    
    <h4>Nedtellingsdata</h4>
    <p>
        Når du lager en nedtelling, lagres data som tittel, endetekst, bakgrunn, type, og nedtellingstidspunkt.
    </p>
    
    <h3>Informasjon som samles inn automatisk</h3>
    
    <h4>IP-Adresse</h4>
    <p>
        IP-Adressen din samles inn når du lager en bruker, sender et kontaktskjema, eller lager en nedtelling. Den brukes til å verifisere Google reCAPTCHA, og legges ved i våre e-poster som et ekstra bekreftelsessteg. Denne informasjonen lagres ikke på våre servere.
    </p>

    <h4>Landsinformasjon</h4>
    <p>
        Når du sender inn et kontaktskjema, eller lager bruker vil din landskode bli lagt ved i e-posten. Dette er et ekstra bekreftelsessteg, og blir ikke lagret på våre servere. 
    </p>
    
    <h4>Bruksdata til analyse</h4>
    <p>
        Google Analytics samler inn, urlene du besøker på FerieCountdown, teknisk data som nettlesernavn, skjermoppløsning, java og flashversjon, sted, og foretrukket språk. Denne dataen anonymiseres og brukes til å forbedre siden til det publikum vi har.
    </p>
</div>
<br />

<!--Cookies section-->
<h2 id="cookies">Vår bruk av cookies (informasjonskapsler)</h2>
<div>
    <p>
        Dersom du ikke ønsker å bruke cookies, kan du blokkere dem i nettleseren din. Cookies merket 'Frivillig' i tabellen kan blokkeres uten at det går ut over brukeropplevelsen din. De merket 'obligatorisk' kan gå ut over brukeropplevelsen din dersom du blokkerer.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cookienavn</th>
                <th scope="col">Bruk</th>
                <th scope="col">Type</th>
                <th scope="col">Mer innformasjon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>.AspNet.Consent</td>
                <td>Lagrer om du aksepterer vår bruk av cookies. Et banner blir vist hvis ikke.</td>
                <td>Obligatorisk</td>
                <td></td>
            </tr>
            <tr>
                <td>.AspNetCore.Mvc.CookieTempDataProvider</td>
                <td>Brukes til å identifisere en bruker for AspNetCores TempData.</td>
                <td>Obligatorisk</td>
                <td></td>
            </tr>
            <tr>
                <td>.AspNetCore.Antiforgery.xxxxxxxxxxx</td>
                <td>Brukes for å beskytte mot CSRF (Cross-Site Request Forgery)</td>
                <td>Obligatorisk</td>
                <td></td>
            </tr>
            <tr>
                <td>.AspNetCore.Identity.Application</td>
                <td>Brukes til å logge deg inn på FerieCountdown</td>
                <td>Obligatorisk</td>
                <td></td>
            </tr>
            <tr>
                <td>locale</td>
                <td>Lagrer informasjon om ditt sted</td>
                <td>Obligatorisk</td>
                <td></td>
            </tr>
            <tr>
                <td>__cfduid</td>
                <td>Brukes for å identifisere brukere for Cloudflare. Brukes til å skille ut boter og spam fra ekte brukere.</td>
                <td>Obligatorisk</td>
                <td><a href="https://support.cloudflare.com/hc/en-us/articles/200170156-Understanding-the-Cloudflare-Cookies#12345682">Les mer hos Cloudflare Support</a></td>
            </tr>
            <tr>
                <td>_ga</td>
                <td>Brukes for å identifisere brukere for Google Analytics.</td>
                <td>Frivillig</td>
                <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Les mer hos Google</a></td>
            </tr>
            <tr>
                <td>_gid</td>
                <td>Brukes for å identifisere brukere for Google Analytics.</td>
                <td>Frivillig</td>
                <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Les mer hos Google</a></td>
            </tr>
            <tr>
                <td>_gat_gtag_UA_138743911_4</td>
                <td>Brukes for å styre raten med forespørsler til Google Analytics.</td>
                <td>Frivillig</td>
                <td><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Les mer hos Google</a></td>
            </tr>
            <tr>
                <td>
                    NID<br />
                    Lokallagring (www.google.com)<br />
                    Sesjonslagring (www.google.com)<br />
                    Filsystem (www.google.com)
                </td>
                <td>Brukes for å verifisere Google reCAPTCHA</td>
                <td>Obligatorisk</td>
                <td><a href="https://policies.google.com/privacy">Les mer hos Google</a></td>
            </tr>
        </tbody>
    </table>
</div>
<br />

<!--Rights-->
<h2 id="rights">Rettigheter</h2>
<div>
    <h4>Åpenhet</h4>
    <p>
        Du kan når som helst laste ned din brukerdata på <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">brukersidene</a>.
    </p>
    
    <h4>Rett til å bli glemt</h4>
    <p>
        Når du sletter brukeren din på <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">brukersidene</a>, vil all din brukerdata og nedtellingsdata bli slettet permanent.
    </p>
</div>

<br />
<h2>Sprøsmål</h2>
<p>
    Har du et spørsmål om personvern kan du ta kontakt via vårt <a asp-area="" asp-action="Contact" asp-controller="Home">kontaktskjema</a>.
</p>