@page
@model LockoutModel
@{
    ViewData["Title"] = "Utestengt";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Denne brukeren har blitt midlertidig utestengt. Vennligst prøv igjen senere.</p>
</header>
