@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bekreft din e-postadresse";
}

<h1>@ViewData["Title"]</h1>

<p>Bekreftelsese-post sendt. Vennligst sjekk dinn innboks og spam-mappe. Du må verifisere e-postadressen for å kunne logge på igjen.
    </p>
