@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Passordet har blitt satt";
}

<h1>@ViewData["Title"]</h1>
<p>
    Passordet ditt har blitt satt. Vennligst <a asp-page="./Login">klikk her for å logge inn</a>.
</p>
